NCBI_API_KEY=your_key_here
HF_TOKEN=your_key_here
GEMINI_API_KEY=your_key_here
GEMINI_MODEL=gemma-4-31b-it
PINECONE_API_KEY=your_key_here
PINECONE_INDEX_NAME=your_index_name
REDIS_HOST=localhost
REDIS_PORT=6379
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_ARTIFACT_LOCATION=logs/mlflow
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000
REACT_APP_API_URL=http://127.0.0.1:8000
ENV=development
DEBUG=True