# Pydantic
pydantic-settings>=2.0.0
python-dotenv>=1.0.0

# Logging
python-json-logger>=2.0.0

# Ruff Linting
ruff>=0.4.0

# Pytest
pytest>=9.0.0

# Pubmed requests
requests>=2.33.0
lxml>=6.0.2

# Pinecone
pinecone>=3.0.0

# BioBERT embedding model
sentence-transformers>=2.2.0

# Agent framework
langchain>=0.2.0
langchain-core>=0.3.83
langchain-google-genai>=1.0.0
langchain-community>=0.2.0
langgraph>=0.1.0

# Redis caching
redis>=5.0.0

# General
numpy>=2.4.0
torch>=2.11.0

# FastAPI
fastapi>=0.110.0
uvicorn>=0.29.0